* {
    background-color: #E5E5E5;
    margin-left: 65px;
    margin-right: 65px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}

h1, h2 {
    color: whitesmoke;
    background-color: black;
    width: 1310px;
    padding-left: 3px;

}

h1 {
    font-size: 50px;
    margin-bottom: 50px;
    }

h2 {
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
}

ul {
    font-size: 25px;
}

p {
    font-size: 25px;
    width: 1303px;
    text-align: left;
    
}